<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @schedule.title %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @schedule.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @schedule.date_to %>
</p>

<p>
  <strong>Place:</strong>
  <%= @schedule.place %>
</p>

<p>
  <strong>Content:</strong>
  <%= @schedule.content %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
