<style>
.mdl-layout__header {
  //box-shadow: none !important;
}
.form-ribbon {
    position: fixed;
    width: 100%;
    height: 50%;
//    background-color: #64B5F6;
    flex-shrink: 0;
    z-index: 0;
    background-image: url(/assets/background-7.jpg);
    font-size: 86px;
    color: white;
    text-align: center; 
    vertical-align: text-bottom;
}
.form-content {
    margin-top: 10%;
    background: white;
    z-index: 1;
}
.form-content:hover {
  transition: 0.3s ease-out;
  /* box-shadow */
  box-shadow:0px 4px 5px 2px #afa0a2;
  -moz-box-shadow:0px 4px 5px 2px #afa0a2;
  -webkit-box-shadow:0px 4px 5px 2px #afa0a2;
}
.form-content:not( :hover ){
  transition: 0.5s ease-out;
}
.card-header{
  margin: 40px 0px 40px 20px;
  font-size: 28px;
  color: #9E9E9E;
}


#profile_image {
  margin: 50px 0px 0px 65px;
  border: thin solid #ff00ff;
  border-radius: 150px;
  -moz-border-image: border-radius: 150px;
  -webkit-border-image: border-radius: 150px;
  outline: 0;   
}
#profile_image:hover {
  transition: 0.3s ease-out;
  /* box-shadow */
  box-shadow:0px 4px 5px 2px #afa0a2;
  -moz-box-shadow:0px 4px 5px 2px #afa0a2;
  -webkit-box-shadow:0px 4px 5px 2px #afa0a2;
}
#profile_image:not(:hover) {
   transition: 0.5s ease-out;
} 
</style>
<script>
  $(function() {
    $('#password_change_field').hide(1)
  });
  $(function(){
    $('#password_change_field-switch').on('click', function() {
      $('#password_change_field').toggle('slow');
    });
  });
</script>

<div class="form-ribbon mdl-shadow--2dp" id="form-ribbon">
  <div style="margin-top: 100px;">
  U S E R　　E D I T 
  </div>
</div>

<div class="mdl-grid" style="margin-bottom: 50px;">
  <div class="mdl-cell mdl-cell--2-col">
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-shadow--4dp form-content">
    <div class="mdl-grid">

      <!--顔写真-->
      <div class="mdl-cell mdl-cell--5-col">
        <%= image_tag("satomi-01.jpg", :size => "250x250", :alt => "アイコン", id: "profile_image")%>
        <div class="mdl-tooltip" for="profile_image">
          クリックして画像をアップロード
        </div>
      </div>
      
      <!--タイトル-->      
      <div class="mdl-cell mdl-cell--7-col">    
        <div class="card-header">
          <i class="material-icons">label</i> ユーザ情報編集
        </div>
        <hr style="width: 50px; align: left; margin-left: 20px;">
    
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizonal" }) do |f| %>
        <%= devise_error_messages! %>
        <div class="mdl-layout mdl-grid">
          
          <!-- 名前 -->            
          <div class="mdl-cell mdl-cell--1-col" style="margin-top: 30px;">        
            <label class="mdl-button mdl-js-button mdl-button--icon" for="user_name">
              <i class="material-icons">account_circle</i>
            </label>        
          </div>
          <div class="mdl-cell mdl-cell--11-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <%= f.label :name, class: "mdl-textfield__label", for: "name", value: "name" %>            
              <%= f.text_field :name, class: "mdl-textfield__input", autofocus: true %>
            </div>
          </div>          

          <!-- メールアドレス -->
          <div class="mdl-cell mdl-cell--1-col" style="margin-top: 30px;">        
            <label class="mdl-button mdl-js-button mdl-button--icon" for="user_email">
              <i class="material-icons">mail</i>
            </label>        
          </div>
          <div class="mdl-cell mdl-cell--11-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <%= f.label :email, class: "mdl-textfield__label", for: "email", value: "email" %>
              <%= f.text_field :email, class: "mdl-textfield__input", autofocus: false %>
            </div>
          </div>          
          
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="mdl-cell mdl-cell--12-col" style="margin-top: 30px;">
            <div id="password_change_field-switch" class="mdl-button mdl-js-button">
              現在のパスワードを変更する？
            </div>
          </div>
          <div id="password_change_field" class="mdl-layout mdl-grid">
            <!-- パスワード -->
            <div class="mdl-cell mdl-cell--1-col" style="margin-top: 30px;">        
              <label class="mdl-button mdl-js-button mdl-button--icon" for="user_password">
                <i class="material-icons">done</i>
              </label>        
            </div>
            <div class="mdl-cell mdl-cell--11-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :password, class: "mdl-textfield__label", for: "password", value: "password" %>
                <%= f.password_field :password, autocomplete: "off", class: "mdl-textfield__input", autofocus: true %>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">        
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %>文字以上</em>
              <% end %>
              <i>（変更しない場合は空欄のまま登録してください）</i>                              
            </div>
            
            <!-- パスワード確認 -->      
            <div class="mdl-cell mdl-cell--1-col" style="margin-top: 30px;">        
              <label class="mdl-button mdl-js-button mdl-button--icon" for="user_password_confirmation">
                <i class="material-icons">done_all</i>
              </label>        
            </div>
            <div class="mdl-cell mdl-cell--11-col">        
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :password_confirmation, class: "mdl-textfield__label", for: "password_confirmation", value: "password_confirmation" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "mdl-textfield__input", autofocus: false %>
              </div>
            </div>
          </div>
          
          <!-- 現在のパスワード -->      
          <div class="mdl-cell mdl-cell--1-col" style="margin-top: 30px;">        
            <label class="mdl-button mdl-js-button mdl-button--icon" for="user_current_password">
              <i class="material-icons">assignment_turned_in</i>
            </label>        
          </div>
          <div class="mdl-cell mdl-cell--11-col">        
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <%= f.label :current_password, class: "mdl-textfield__label", for: "current_password", value: "current_password" %>
              <%= f.password_field :current_password, autocomplete: "off", class: "mdl-textfield__input", autofocus: false %>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <i>（ユーザ情報を変更する場合は現在のパスワードを入力してください）</i>
          </div>
          <div class="mdl-cell mdl-cell--12-col"> 
            <%= f.submit value: " 登 録 ", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
          </div>
          
        <% end %>
        <!--./form-->
        
          <div class="mdl-cell mdl-cell--12-col">                     
            <div class="card-header">
              <i class="material-icons">label</i> アカウントの削除
            </div>
            <hr style="width: 50px; align: left; margin-left: 10px;">
            
            <button id="show-dialog" type="button"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                style="background-color: #F44336;">
                アカウントを削除する
            </button>
          </div>                      
          <dialog class="mdl-dialog">
            <h4 class="mdl-dialog__title">Allow data collection?</h4>
            <div class="mdl-dialog__content">
              <p>
                本当にアカウントを削除してもよろしいですか？
              </p>
            </div>
            <div class="mdl-dialog__actions">
              <%= button_to "Agree", 
                  registration_path(resource_name),
                  method: :delete,
                  class: "mdl-button",
                  style: "background-color: #f44336; color: white;"
              %>
              <button type="button" class="mdl-button close">Disagree</button>
            </div>
          </dialog>
          <script>
            var dialog = document.querySelector('dialog');
            var showDialogButton = document.querySelector('#show-dialog');
            if (! dialog.showModal) {
              dialogPolyfill.registerDialog(dialog);
            }
            showDialogButton.addEventListener('click', function() {
              dialog.showModal();
            });
            dialog.querySelector('.close').addEventListener('click', function() {
              dialog.close();
            });
          </script>
          <div class="mdl-cell mdl-cell--12-col">                             
            <%= link_to "戻る", :back, class: "mdl-button mdl-js-button mdl-js-ripple-effect" %>
          </div>            
        </div>          
        <!--./mdl-layout mdl-grid-->
      </div>           
    </div> 
  </div>
  <div class="mdl-cell mdl-cell--2-col">
  </div>
</div>
