<%= javascript_tag do %>
<% end %>
<div id="fade">
  <div class="fade-progress-bar" style="width: 40%;">
    <div style="font-size: 20px">Loading</div>
    <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  </div>
</div>

<div id="main">
  <div class="floating-action-button">
    <div class="mdl-card-menu">
      <button id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored  mdl-shadow--8dp">
        <i class="material-icons">add</i>
      </button>
      <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
          for="fab">
        <li class="mdl-menu__item">新しく予定を作成</li>
      </ul>
    </div>
  </div>
  <div class="mdl-layout">
    <div class="mdl-grid">
      <!-- カレンダー -->
      <div class="mdl-cell mdl-grid-no-spacing mdl-cell--10-col-desktop mdl-cell--12-col-phone">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <div class="mdl-card__title-text">C A L E N D A R</div>
          </div>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-grid-no-spacing mdl-cell--12-col-desktop mdl-cell--12-col-phone">
              <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
              <% end %>
                <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
              <% end %> 
              <div id="calendar"></div>
              <div class='container'></div>
            </div>            
          </div>
          <div class="mdl-card__menu">
            <button id="demo-menu-lower-right"
                    class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-right">
              <li class="mdl-menu__item"><%= link_to new_schedule_path, style:"text-decoration: none;" do %>新しく予定を作成<% end %></li>
              <li class="mdl-menu__item">カレンダーの設定</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ./カレンダー -->
      <!-- 天気情報 -->    
      <div class="mdl-cell mdl-grid-no-spacing mdl-cell--2-col-desktop">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <div class="mdl-card__title-text">W E A T H E R</div>
          </div>
          <div class="mdl-grid">
            <div class="mdl-card__medium mdl-card__supporting-text">
              現在地：東京
            </div>
            <% for i in 0..24 %>
              <% if i%4 == 0 %>
              <div class="mdl-card__actions mdl-card--border mdl-card__supporting-text">
                <div style="font-size: 20px;">
                  <%= @Weathers["list"][i]["dt_txt"].to_time.in_time_zone('Tokyo').strftime("%m月%d日　　 %H時") %>
                </div>
                <div style="font-size: 30px;">
                  <% icon =  @Weathers["list"][i]["weather"][0]["icon"] %>
                  <%= image_tag("http://openweathermap.org/img/w/" + icon + ".png", width: "100px") %>
                  <%= (@Weathers["list"][i]["main"]["temp_max"] - 273.15).round %>℃
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
          <div class="mdl-card__menu">
            <button id="weather-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="weather-menu-lower-right">
              <li class="mdl-menu__item">位置情報を設定する</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ./天気情報 -->
    </div>
    <!-- ./mdl-grid -->
  </div>
  <!-- ./mdl-layout -->
</div>
<!-- ./main -->

<div class="floating-action-button">
  <div class="mdl-card-menu">
    <button id="fab" 
      class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--8dp"
      style="background-color: #2196f3">
      <i class="material-icons">message</i>
    </button>
  </div>
</div>

<div class="home" id="msg_box">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp chat-box" id="chat-box">
      <div class='chat-wrapper'>
        <div class='chat-message padding'>
          <!--ここにチャットのメッセージが入る-->
        </div>
        <form id="form" class="form-button">
          <input id="hidden_input" type="hidden" value="<%= current_user.name %>">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="text_input">
            <label class="mdl-textfield__label" for="text_input">Say something...</label>
          </div>
          <button type="submit" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var dispatcher = new WebSocketRails("s-g-p-gee-awa.c9users.io/websocket"); //ドメインは適宜変える
  var form = document.getElementById("form");
  var text_input = document.getElementById("text_input");
  var msg_box = document.getElementById("msg_box");
  console.log(dispatcher);

  /* FORMボタン押下時の処理 */
  form.onsubmit = function(e){
    dispatcher.trigger("send_message", { msg: text_input.value, user: hidden_input.value });
    e.preventDefault();
  }
  
  /* 画面初期表示時はチャットウィンドウは非表示*/
  var chatBoxOpenFlg = false;
  $(function(){
    $('#msg_box').hide();
    chatBoxOpenFlg = false;        
  })
  
  /* FABをクリックしてチャット画面を表示*/
  $('.floating-action-button').click(function(){
    $('#msg_box').toggle(500);
    if (chatBoxOpenFlg == true) {
      chatBoxOpenFlg = false;
    } else {
      chatBoxOpenFlg = true;
    }
    $(".floating-action-button").css("animation","none");      
  });

  
  var tagFocusFlg = true;
  $(window).bind("focus",function(){
  　//フォーカスが当たったらフラグを設定      
    tagFocusFlg = true;
  }).bind("blur",function(){
　  //フォーカスが外れたらフラグを解除    
    tagFocusFlg = false;
   });
  
  
  dispatcher.bind("spread_message", function(data) {
    var message = document.createElement("p");
    if (data.msg == "" || data.msg == null) {
      data.msg = "　";
    }
    
    message.textContent = data.msg;
    var user_name = data.user;
    if (user_name != hidden_input.value) {
      // 受信したユーザが自分意外であれば左に表示
      if ( $(".chat-message-localisation:last").text() != user_name) {

        var div = $('<div class="chat-message chat-message-recipient"></div>');
        $(".padding").append(div);
        
        div = $("<img class='chat-image chat-image-default' src='/assets/satomi-01.jpg' />");
        $(".chat-message:last").append(div);
        
        div = $("<div class='chat-message-wrapper'></div>");
        $(".chat-image:last").after(div);
        
        div = $("<div class='chat-message-content'></div>");
        $(".chat-message-wrapper:last").append(div);
        
        $(".chat-message-content:last").append(message);
        
        div = $("<div class='chat-details'></div>");
        $(".chat-message-content:last").after(div);
        
        div = $("<span class='chat-message-localisation font-size-small'>" + user_name + "</span>");
        $(".chat-details:last").append(div);
  
        div = $("<span class='chat-message-read-status font-size-small'>- Read</span>");
        $(".chat-details:last").append(div);
      } else {
        $(".chat-message-content:last").append(message);        
      }
      
      // アクティブタブを開いていない場合、または#chat-boxを開いていない場合、通知処理を実行
      if (!tagFocusFlg || !chatBoxOpenFlg) {
        Notification.requestPermission(function (status) {
          // 通知の許可を求める      
          if (Notification.permission !== status) {
            Notification.permission = status;
          }
        });
        console.log(tagFocusFlg);
        console.log(chatBoxOpenFlg);
        // 通知をキックする
        var n = new Notification('SGP', {tag: 'soManyNotification', icon: '/assets/satomi-01.jpg', body: data.msg});
        // 通知の持続時間は3秒
        setTimeout(n.close.bind(n), 3000);

        n.onclick = function () {
          $(window).focus();
        };
        
        // FABをぷるぷるさせる
        if(!chatBoxOpenFlg) {
          $(".floating-action-button").css("animation", "skew 2.0s linear infinite")
        }
      }
        
    } else {
      // 受信したユーザが自分であれば右に表示      
      if ( $(".chat-message-localisation:last").text() != user_name) {

        var div = $('<div class="chat-message chat-message-sender"></div>');
        $(".padding").append(div);
        
        div = $("<img class='chat-image chat-image-default' src='/assets/mokomichi.jpg' />");
        $(".chat-message:last").append(div);
        
        div = $("<div class='chat-message-wrapper'></div>");
        $(".chat-image:last").after(div);
        
        div = $("<div class='chat-message-content'></div>");
        $(".chat-message-wrapper:last").append(div);
        
        $(".chat-message-content:last").append(message);
        
        div = $("<div class='chat-details'></div>");
        $(".chat-message-content:last").after(div);
        
        div = $("<span class='chat-message-localisation font-size-small'>" + user_name + "</span>");
        $(".chat-details:last").append(div);
  
        div = $("<span class='chat-message-read-status font-size-small'>- Read</span>");
        $(".chat-details:last").append(div);
      } else {
        $(".chat-message-content:last").append(message);        
      }
  
    }
    
    // 自動でスクロールさせる
    var position = $(".chat-message-content p:last").offset().top;
    position *= position;
    $('#chat-box').scrollTop(position);
    
    // 送信後はinputformの値をクリア
    $('#text_input').val("");
    
  });
  
  $('#chat-box').mouseover(function(){
      $('#chat-box').css('box-shadow','1px 3px 6px 3px #ada6a7');
  })
  $('#chat-box').mouseout(function(){
      $('#chat-box').css('box-shadow','0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)');
  })
  $('#text_input').mouseover(function(){
      $('#chat-box').css('box-shadow','1px 3px 6px 3px #ada6a7');
  })
  $('#text_input').mouseout(function(){
      $('#chat-box').css('box-shadow','0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)');
  })
</script>