<%= form_for(@user) do |f| %>
<div class="mdl-grid">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">
    <%= f.label :name, class: 'mdl-textfield__label' %><br>
    <%= f.text_field :name, class: 'mdl-textfield__input' %>
  </div>

  <%= button_tag "確定", class: "mdl-button mdl-js-button mdl-button--raised mdl-cell mdl-cell--8-col" %>

</div>  
<% end %>
