<p id="notice"><%= notice %></p>

<h1>Listing Schedules</h1>

<div class="container-fluid">
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <% @schedules.each do |schedule| %>
        <div class="col-xs-12 col-lg-6"><%= schedule.title %></div>
        <div class="col-xs-12 col-lg-2"><%= schedule.date_from %></div>
        <div class="col-xs-12 col-lg-2"><%= schedule.date_to %></div>
        <div class="col-xs-12 col-lg-2">
          <%= link_to 'Show', schedule, class:"btn btn-primary btn-lg" %>
          <%= link_to 'Edit', edit_schedule_path(schedule) , class:"btn btn-success btn-lg" %>
          <%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-lg" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="input-field">
  <%= link_to 'New Schedule', new_schedule_path, class:"btn btn-success" %>
</div>



