<p id="notice"><%= notice %></p>

<h1>Listing Schedules</h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date from</th>
      <th>Date to</th>
      <th>Place</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <div class="col-xs-12">
          <td class="col-xs-6"><%= schedule.title %></td>
          <td class="col-xs-2"><%= schedule.date_from %></td>
          <td class="col-xs-2"><%= schedule.date_to %></td>
          <div class="col-xs-2">
            <td><%= link_to 'Show', schedule, class:"btn btn-primary" %></td>
            <td><%= link_to 'Edit', edit_schedule_path(schedule) , class:"btn btn-success" %></td>
            <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
          </div>
          </td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path, class:"btn btn-success" %>
