  <!-- Wide card with share menu button -->
  <style>
  .fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
  }
  .demo-card-wide.mdl-card {
    width: 100%;
  }
  .demo-card-wide > .mdl-card__title {
    color: white;
    height: 120px;
    background: url('/assets/cards-sample.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .left_body {
    background-color: white;
  }
  .right_body {
    background-color: white;
  }

  </style>

<p id="notice"><%= notice %></p>
<%= javascript_tag do %>
  schedule = <%= raw @schedule.to_json %>;
<% end %>
<div class="container-fluid">
  <div id="calendar">
    <div class='container'>
    </div>
  </div>
  <h1>Listing Schedules</h1>
  <!-- スケジュールをカードで並べて表示 -->
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--10-col">
      <div class="left_body">        
        <div class="mdl-grid">
          <% @schedules.each do |schedule| %>
            <div class="mdl-cell">
              <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text"><%= schedule.title %></h2>
                </div>
                <div class="mdl-card__supporting-text">
                  <%= schedule.date_from.to_date %>　<%= schedule.content %>　
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <%= link_to 'Edit', edit_schedule_path(schedule) , class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
                  <%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <%= link_to 'New Schedule', new_schedule_path, class:"btn btn-primary col-lg-2" %>    
      </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col right_body">
      サイドバー<br>
    　桃太郎の物語は、いくつかの場面で出典により違いがある。ただし、物語後半にある鬼との戦いの場面では、概ねどの書籍でも桃太郎側の視点での勧善懲悪物語となっている。
    　桃太郎の出生に関しては、桃から生まれたとする場合や、桃を食べた老夫婦が若返って子供を産んだとする場合がある。
    　桃太郎の成長過程については、お爺さんとお婆さんの期待通り働き者に育ったとする場合や、三年寝太郎のように力持ちで大きな体に育つが怠け者で寝てばかりいるとする場合がある。
    　成長した桃太郎は、鬼ヶ島の鬼が人々を苦しめていることを理由に鬼退治に旅立つが、その決意を自発的に行う場合と、村人や殿などに言われて受動的に行う場合とがある。
    　出征時には両親から黍団子を餞別に貰う。道中、遭遇するイヌ、サル、キジにその黍団子を分け与えて家来にする。
    　鬼ヶ島での鬼との戦いで勝利をおさめ、鬼が方々から奪っていった財宝を持って帰り、最終的に郷里のお爺さん・お婆さんの元に帰って幸せに暮らしたとして物語は締めくくられる。
    </div>
  </div>
</div>
<br>


