<p id="notice"><%= notice %></p>
<nav class="menu menu--floating"  role="navigation">    
  <a href="#" class="menu--floating__action" title="Option"><span class="hide-accessible">Option</span></a>
  <a href="#" class="menu--floating__action" title="Option"><span class="hide-accessible">Option</span></a>
  <a href="#" class="menu--floating__action" title="Option"><span class="hide-accessible">Option</span></a>
  <%= link_to new_schedule_path, class:"menu--floating__action menu--floating__action_main" do %>
    <i class="material-icons">add</i>
  <% end %>
</nav>
<div class="container-fluid">
  <div class="row">
    <div>
      <h2>スケジュール一覧</h2>
      <div id="content" data-0="padding-top: 192px;" data-192="padding-top: 190px;">
        <ul class="mdl-list mdl-cell mdl-cell--6-col">
          <% @schedules.each do |schedule| %>
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">check</i>
                <span><%= link_to schedule.title, edit_schedule_path(schedule) %><br></span>
                <span class="mdl-list__item-text-body">
                  <%= schedule.content %><br>
                  <%= schedule.date_from %>
                </span>
              </span>
              <span class="mdl-list__item-secondary-content">
                <%= link_to schedule, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="material-icons mdl-list__item-avatar">delete</i>
                <% end %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>


