<p id="notice"><%= notice %></p>

<strong>タイトル</strong>
<%= @schedule.title %><br>

<strong>日時</strong>
<%= @schedule.date_from %> 〜 <%= @schedule.date_to %><br>

<strong>場所</strong>
<%= @schedule.place %><br>

<strong>内容</strong>
<%= @schedule.content %><br>

<strong>登録済みユーザ</strong>
<% @schedule.users.each do |user| %>
  <%= user.name %>
<% end %>
<br>

<%= link_to 'Edit', edit_schedule_path(@schedule) %>
<%= link_to 'Back', schedules_path %>
